Repository vdjagilev/nmap-formatter, pull requests merged in 2024-02, with the labels that each got.

#161 feat: ci: update codeql version
  .github/workflows/codeql-analysis.yml
  .github/workflows/go.yml
  .github/workflows/release.yml
Labels: priority/low, type/other, prop/pipeline

#156 Add Excel format support
  README.md
  cmd/root.go
  cmd/validation.go
  formatter/format.go
  formatter/formatter.go
  formatter/formatter_excel.go
  formatter/output_options.go
  go.mod
  go.sum
Labels: priority/medium, tech/go, type/feature, tech/excel

#162 Add Excel format support (#156)
  .github/workflows/assets.yml
  .github/workflows/go.yml
  .github/workflows/release-package.yml
  README.md
  cmd/root.go
  cmd/root_test.go
  cmd/validation.go
  formatter/format.go
  formatter/format_test.go
  formatter/formatter.go
  formatter/formatter_excel.go
  formatter/formatter_excel_test.go
  formatter/formatter_test.go
  formatter/output_options.go
  go.mod
  go.sum
Labels: priority/medium, tech/go, type/feature, tech/excel

#165 Update license years
  LICENSE
  cmd/root.go
  cmd/root_test.go
  main.go
Labels: type/other
